
.datatable-wrapper{
	position:relative;
}

.datatable-wrapper	> .datatable-thead > table {
	margin:0;
}

.datatable-wrapper	> .datatable-thead.affix{
	z-index:2;
	top:0;
	width:inherit;
}

.datatable-wrapper	> .datatable-tbody  > table > thead{
	visibility:hidden;
}
